.search-form-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  height: calc(100vh - 8.5rem);
  background: $white;
  z-index: 1000;
  display: none;

  &.active {
    display: block;
  }

  form {
    height: 7rem;
    border-bottom: 0.2rem solid $black;
    width: 100%;
    display: flex;
    align-items: center;
    animation: fadeUp 0.4s linear;

    input {
      height: 100%;
      width: 100%;
      font-size: 1.7rem;
      color: $black;
      text-transform: none;
      padding-right: 1rem;
    }

    label {
      font-size: 3rem;
      cursor: pointer;
      color: $black;

      &:hover {
        color: $green;
      }
    }
  }
}
