@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .shopping-cart-container .cart-total {
    .box {
      text-align: center;

      .btn {
        width: 100%;
      }
    }
  }

  .home .content {
    h3 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
